<launch>

  <!-- Run the map server -->
 <node name="map_server" pkg="map_server" type="map_server" args="$(find rm_simulator)/maps/indoor_map.yaml"/>

  <!--- Run AMCL -->
 <!-- <include file="$(find ridgeback_navigation)/launch/include/amcl.launch" /> -->

  <!--- Run Move Base -->
 <include file="$(find ridgeback_navigation)/launch/include/move_base.launch" />

</launch>
