<launch>
  <arg name="ns0"        default="jackal0"/>
  <arg name="config_id" default="0"/>
  <arg name="rviz"      default="true"/>

  <include file="$(find obstacle_detector)/launch/demo.launch">
    <arg name="node_namespace" value="$(arg ns0)"/>
  </include>
  <node name="$(arg ns0)_obstacle_filter_node" pkg="obstacle_filter" type="obstacle_filter_node" output="screen">
    <param name="jackal_ns"         value="$(arg ns0)"/>
  </node>

</launch>
