<launch>
  <arg name="rviz"      default="true"/>

  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="world_name" default="$(find rm_simulator)/worlds/map2020.world"/>

  <!-- Configuration of Jackal which you would like to simulate.
       See jackal_description for details. -->
  <!-- <arg name="config" default="empty" /> -->
  <!-- <arg name="config" default="custom" /> -->


  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" args="_use_gui:=true"/>  -->


  
  <include file="$(find rm_simulator)/launch/include/amcl_ridgeback.launch" />

<!-- <node pkg="roborts_localization" type="localization_node" name="localization_node" respawn="false" >
  </node>
  <node pkg="roborts_planning" type="global_planner_node" name="global_planner_node" respawn="false" />

  <node pkg="roborts_planning" type="local_planner_node" name="local_planner_node" respawn="false" >
    <remap from="/odom" to="/odometry/filtered"/>
  </node>

  <node name="behavior_test_node" pkg="roborts_decision" type="behavior_test_node" output="screen"/> 

  <node name="acc2vel_node" pkg="rm_simulator" type="acc2vel_node"/> 

  <node name="map_server" pkg="map_server" type="map_server" args="$(find rm_simulator)/maps/map2020.yaml"/> -->


</launch>
